{% extends "base.html" %}

{% block content %}

   <div class="box" style="width:90%; margin-right:auto; margin-left:auto;">
		<h3>{{journey.name}}</h3>
		{% for i in range(0,length) %}
		<div class="step"><h6>Step {{i + 1}}</h6>
			<h5>Places</h5>
			<p>{% for s in steps[i]['place'] %}
				{{s.id}}<input type="button" value="Vote" />
			{% endfor %}
			{% if sugg_enabled %}
			<p align="right"><input type="button" value="Add suggestion" /></p>
			{% endif %}
			</p>
			<h5>Accommodations</h5>
			<p>{% for s in steps[i]['accommodation'] %}
			{{s.id}}<input type="button" value="Vote" />
			{% endfor %}
			{% if sugg_enabled %}
			<p align="right"><input type="button" value="Add suggestion" /></p>
			{% endif %}
			</p>
			<h5>Food</h5>
			<p>{% for s in steps[i]['food'] %}
			{{s.id}}<input type="button" value="Vote" />
			{% endfor %}
			{% if sugg_enabled %}
			<p align="right"><input type="button" value="Add suggestion" /></p>
			{% endif %}
			</p>
		</div>
		{% endfor %}
		{% if sugg_enabled %}
		<p align="center"><input type="button" value="New step" onclick="self.location.href='/new_step?id={{journey.key().id()}}'"/></p>
		{% endif %}
    </div>
{% endblock %}