<!DOCTYPE html>
<html>
<br>
<br>
<br>
 
  <div class="login-area">
   {% if user %} {{user.name}} (<a class="login-link" href="/logout">Logout</a>)
    {% else %}
      <a class="login-link" href="/login">Login</a>
      |
      <a class="login-link" href="/signup">Signup</a>
    {% endif %}  
  </div>
  
   <div class="homepage">  
<a class="hompage"href="/">Homepage</a>
  </div>
  
<head> <p align="center">  
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <link rel="shortcut icon" href="favicon.ico"/>

  <title>An Expected Journey</title>
</head>

<body>
  <a class="main-title">

     <IMG SRC="http://i.imgur.com/wiQawAJ.png"
 WIDTH=60
 HEIGHT=60> An Expected Journey <IMG SRC="http://kit-sticker.com/images/14039-frodo-baggins-lord-of-the-rings-s.png"
 WIDTH=60
 HEIGHT=60>

  </a>
    <div id="content">
  {% block content %}
  {% endblock %}
  </div>
	


</body>

</html>

