<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html>
  <head>
    <title>Login</title>
    <style type="text/css">
      .label {text-align: right}
      .error {color: red}
    </style>

  </head>

  <body>
<div style="width:600px; margin-right:auto; margin-left:auto;">
    <form method="post">
	    <h3>Login</h3>
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>

      <p align="right"><input type="submit"></p>
    </form>
	</div>
  </body>

</html>
  {% endblock %}