{% extends "base.html" %}

{% block content %}
	<div style="width:600px; margin-right:auto; margin-left:auto;margin-top:50px;">
    <form method="post">
	<h3>New Stape</h3>
       <table>
        <tr>
          <td>
            <label>Address: </label><input id="address"  name="destination" type="text" />
            <div id="map_canvas" style="width:300px; height:300px"></div><br/>
          </td>
        </tr>
       </table>
    </form>
    </div>
    <div>
        <br>
         <form >
       TOTAL RESULTS : {{totalresults}}
             <br>
        {{erreur}}
          </form>
        <form methode="get" action="adventure">
           <table>
        {% for i in tabblockannonce %}
               <tr>
                 <td>
                     <p>
                         <INPUT type="hidden" name="id" value={{i["pid"]}} readonly> Occupancy : {{i["occupancy"]}} , MinimumStayNight : {{i["minimumStayNight"]}}, Price :{{i["price"]}}
                         <input type="submit"  value="Choose">
                     </p>
                     <br>
                 </td>
                </tr>
        {% endfor %}
         </table>
        </form>
    </div>
{% endblock %}