{% extends "base.html" %}

{% block content %}
 <div class="adventure-box" style="float:center">
    
	<h3>Your Fellowship</h3>
	
	<form method="post" action="/new_friends?id={{journey.key().id()}}"  style="float:left;margin-top:0px;width:95%;">
        <table>
            <tr>
            <td class="label" style="font-size:34px;">
                Username : 
            </td>
            <td>
                <input type="text" name="friendname" value=""style="height:34px;width:300px;">
            </td>
			<td>
			<p> <input type="submit"  value="Add"> </p> </td>
            </tr>
        </table>
        <div class="error">
            {{error}}
        </div>
         
    </form>
    {% if friendlist%}
	 <div class="box" style="float:left;margin-top:0px;width:95%;margin-left:0;">
     <h5> Here are your comrades</h5>
      <form method="post"  style="width:90%;margin-top:20px;">
           <table>
        {% for i in friendlist %}
               <tr>
                 <td>
                     Name : {{i.user.name}}
                     <br>
                 </td>
                </tr>
        {% endfor %}
         </table>
        </form>
		</div>
    {% else %}
     <h5> Unfortunately, you have no friends yet.</h5>
    {% endif %}    

    <form method="post" action="/adventure?id={{journey.key().id()}}" style="width=300px;margin-top:0px;float:center;">
        <input type="submit"  value="Continue"style="font-size:60px;height:80px;
	width:300px;">
    </form>
    </div>
{% endblock %}