{% extends "base.html" %}

{% block content %}
	<div style="width:600px; margin-right:auto; margin-left:auto;margin-top:50px;">
    <form method="post">
	<h3>New Step</h3>
       <table>
        <tr>
          <td>
            <input type="text" name="Destination" auutocomplete="off" placeholder="Where do you want to live an adventure ?" />
          </td>
        </tr>
       </table>
    </form>
    </div>
    <div>
        <br>
         <form >
       TOTAL RESULTS : {{totalresults}}
             <br>
        {{erreur}}
          </form>
        <form methode="post">
           <table>
        {% for i in tabblockannonce %}
               <tr>
                 <td>
                     Occupancy : {{i["occupancy"]}}, MinimumStayNight : {{i["minimumStayNight"]}}, Pid :  {{i["pid"]}}
                     <br>
                 </td>
                </tr>
        {% endfor %}
         </table>
        </form>
    </div>
{% endblock %}