

{% extends "base.html" %}

{% block content %}
    <h1>New adventure</h1>
    <br>
    <div>
     <form method="post">
       <table>
        <tr>
          <td class="label">
            Date de début
          </td>
          <td>
            <input type="text" name="date_debut" value="">
          </td>
          <td class="error">
            {{error_date_debut}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Date de fin
          </td>
          <td>
            <input type="text" name="date_fin" value="">
          </td>
          <td class="error">
            {{error_date_fin}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Budget maximum par personne
          </td>
          <td>
            <input type="text" name="budget" value="">
          </td>
          <td class="error">
            {{error_budget}}
          </td>
        </tr>

       </table>
      <input type="submit" value="Continuer">
      </form>

    </div>
{% endblock %}