{% extends "base.html" %}

{% block content %}
    <h1>Your Fellowship</h1>
    {% if friendlist%}
     <p> Here are your comrades</p>
      <form methode="post">
           <table>
        {% for i in friendlist %}
               <tr>
                 <td>
                     Name : {{i.user.name}}
                     <br>
                 </td>
                </tr>
        {% endfor %}
         </table>
        </form>
    {% else %}
     <p> Unfortunately, you have no friends yet.</p>
    {% endif %}

    <form method="post" action="/new_friends?id={{journey.key().id()}}">
        <table>
            <tr>
            <td class="label">
                Username
            </td>
            <td>
                <input type="text" name="friendname" value="">
            </td>
            </tr>
        </table>
        <div class="error">
            {{error}}
        </div>
         <p> <input type="submit"  value="Validate"> </p>
    </form>

    <form method="post" action="/adventure?id={{journey.key().id()}}">
        <input type="submit"  value="Continue">
    </form>
    </div>
{% endblock %}