{% extends "base.html" %}

{% block content %}
	<div style="width:600px; margin-right:auto; margin-left:auto;margin-top:50px;">
    <form method="post">
	<h3>New Stape</h3>
       <table>
        <tr>
          <td>
            <label>Address: </label><input id="address"  name="destination" type="text" />
            <div id="map_canvas" style="width:300px; height:300px"></div><br/>
          </td>
        </tr>
       </table>
    </form>
    </div>
    <div>
        <br>
         <div class="box">
       TOTAL RESULTS : {{totalresults}}
             <br>
        {{erreur}}
          </div>
        <form method="post" action="/adventure?id={{journey.key().id()}}">
           <table>
        {% for i in tabblockannonce %}
               <tr>
                 <td>
                     <p>
						 <label for="{{i['pid']}}">
						 <input type="radio" name="accommodation" id="{{i['pid']}}" value="{{i['pid']}}" />
						 Occupancy : {{i["occupancy"]}} , MinimumStayNight : {{i["minimumStayNight"]}}, Price :{{i["price"]}}
						 </label>
                     </p>
                     <br>
                 </td>
                </tr>
        {% endfor %}
         </table>
		 <input type="hidden" value="{{step}}" name="step" />
		 <input type="submit" value="choose" />
        </form>
    </div>
{% endblock %}