

{% extends "base.html" %}

{% block content %}
   <div style="width:600px; margin-right:auto; margin-left:auto;">
     <form method="post">
	 	<h3>New Adventure</h3>
       <table>
	    <tr>
          <td class="label">
            nom du voyage : 
          </td>
          <td>
            <input type="text" name="name" value="">
          </td>
          <td class="error">
          </td>
        </tr>
        <tr>
          <td class="label">
            Date de début
          </td>
          <td>
            <input type="text" name="date_debut" value="">
          </td>
          <td class="error">
            {{error_date_debut}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Date de fin
          </td>
          <td>
            <input type="text" name="date_fin" value="">
          </td>
          <td class="error">
            {{error_date_fin}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Budget max par personne
          </td>
          <td>
            <input type="text" name="budget" value="">
          </td>
          <td class="error">
            {{error_budget}}
          </td>
        </tr>

       </table>
      <p align="right"><input type="submit"></p>
      </form>

    </div>
{% endblock %}