<html>
	<head>
		<title>Unit 2 Signup</title>
	</head>

	<body>
		<h2>Welcome, {{username}}!</h2>
		<h3>your Journeys</h3>
		<p>{% for j in journeys %}
			<a href="/journeys?id={{j.key().id()}}">{{j.name}}</a><br />
			{% endfor %}
		</p>
		<h3>Invitations received</h3>
		<div>{% for i in invitations %}
			<p><h6>{{i.journey.name}}</h6>
			{{i.journey.owner.name}} invited you in his journey from {{i.journey.start}} to {{i.journey.end}} (~ {{i.journey.budget}}€).<br />
			{% if i.message %}
			description :<br />
			{{i.message}}
			{% endif %}</p>
			<input type="button" value="accept" onclick="self.location.href='/accept?id={{i.key().id()}}'" />
			<input type="button" value="decline" onclick="self.location.href='/decline?id={{i.key().id()}}'" />
			{% endfor %}
		</div>
	</body>
</html>