body {
    font-family: Times New Roman, serif
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

html {
  background: url('http://i.imgur.com/5poLESx.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    width:850px;
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    font-variant:small-caps;
    font-weight: 500
    padding: 2em;
    border-radius: 25px;
    color: #222;
    font-size: 70px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.login-area{
    width:90px;
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.6em;
    border-radius: 15px;

}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}

