body {
    font-family: Times New Roman, serif;
    font-size: 14px;
    
    margin: 0 auto;
	padding: 0;
	height: 100%;
    color: #333;
}

html {
  background: url('http://i.imgur.com/5poLESx.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
	padding: 0;
	height: 100%;
}

div#page {
	position: relative;
	width: 60%;
	margin: 0 auto;
	min-height: 100%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    width:900px;
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    font-variant:small-caps;
    font-weight: 500;
    padding: 0.1em;
    border-radius: 25px;
    color: #222;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.login-area{
	width:100%;
	height:30px;
    display: inline-block;
    position: fixed;
	top: 0px;
    background-color: rgba(200, 200, 200, 0.75);
	font-size: 24px;
	margin:0;
    padding: 0em;
    text-align: right;	
}
.homepage{
    position: fixed;
	top: 0px;
	font-size: 24px;
	margin:0;
    padding: 0em;
    text-align: left;	
}

.post-heading {
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}



.BigButton {
	-moz-box-shadow:inset 0px 1px 3px 0px #3c783c;
	-webkit-box-shadow:inset 0px 1px 3px 0px #3c783c;
	box-shadow:inset 0px 1px 3px 0px #3c783c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e5329), color-stop(1, #3c7832) );
	background:-moz-linear-gradient( center top, #1e5329 5%, #3c7832 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5329', endColorstr='#3c7832');
	background-color:#1e5329;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:2px solid white;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:50px;
	font-weight:bold;
	font-style:normal;
	height:90px;
	line-height:90px;
	width:400px;
	text-decoration:none;
	text-align:center;
	text-shadow:-2px -2px 0px #0c1201;
    margin : auto;
	margin-top: 10%;
}
.BigButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3c7832), color-stop(1, #1e5329) );
	background:-moz-linear-gradient( center top, #3c7832 5%, #1e5329 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c7832', endColorstr='#1e5329');
	background-color:#3c7832;
}.BigButton:active {
	position:relative;
	top:1px;
}
